body {
    font-family: ui-monospace, "SFMono-Regular", "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 16px;
}

.logo a {
    font-size: 1.25rem;
}

.page-header h1,
.post-title,
.post-content h1 {
    font-size: 2rem;
}

.post-content h2 {
    font-size: 1.5rem;
}

.post-content h3 {
    font-size: 1.25rem;
}

.post-content h4 {
    font-size: 1rem;
}

.post-content h5 {
    font-size: 0.875rem;
}

.post-content h6 {
    font-size: 0.75rem;
}
