{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- with .Content }}<div class="post-description">{{ . }}</div>{{ end }}
</header>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- $pages = where $pages "Params.article_kind" "essay" -}}
{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  {{- $year := replace .Key "0001" "" }}
  <h2 class="archive-year-header" id="{{ $year }}">
    <a class="archive-header-link" href="#{{ $year }}">{{- $year -}}</a>
    <sup class="archive-count">&nbsp;{{ len .Pages }}</sup>
  </h2>
  <div class="archive-compact-list">
    {{- range .Pages }}
    <a class="archive-compact-entry" href="{{ .RelPermalink }}">
      <time datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "2006-01-02" }}</time>
      <span>{{ .Title | markdownify }}</span>
    </a>
    {{- end }}
  </div>
</div>
{{- end }}
{{- end }}

{{- end }}
