{{- define "main" }}

{{- if site.Params.homeInfoParams }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- $pages = where $pages "Params.article_kind" "ne" "note" -}}

<section class="home-latest">
  <h2>Latest</h2>
  <div class="home-latest-list">
    {{- range first 5 $pages.ByDate.Reverse }}
    <a class="home-latest-entry" href="{{ .RelPermalink }}">
      <time datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "2006-01-02" }}</time>
      <span>{{ .Title | markdownify }}</span>
    </a>
    {{- end }}
  </div>
</section>

{{- end }}
